@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background: transparent;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  overflow-x: hidden;
}
a,
button,
img {
  display: inline-block;
}
.container {
  max-width: 116rem;
  margin: 0 auto;
}
.btn-primary {
  font-size: 1.4rem;
  background: rgb(121, 185, 0);
  padding: 1rem 2rem;
  border-radius: 3rem;
  box-shadow: inset 5px 5px 10px rgb(142, 224, 142);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-primary:hover {
  box-shadow: inset 5px 5px 10px rgb(121, 185, 0);
  background-color: rgb(0, 128, 0);
}
/* Header CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
}
.logo {
  font-size: 2.4rem;
  font-family: "Kaushan Script", serif;
  color: #fff;
}
.logo span {
  color: rgb(121, 185, 0);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.5s;
}
.link:hover {
  color: rgb(121, 185, 0);
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-btn i {
  color: #7fba09;
  font-size: 2rem;
}
/* Hero Section CSS */
.hero-section {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
.hero-social {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 60%;
  left: -7%;
  display: flex;
  align-items: center;
  gap: 1rem;
  rotate: 270deg;
}
.hero-social h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.hero-line {
  height: 1px;
  width: 5rem;
  background: #fff;
}
.social-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.social-icon i {
  font-size: 1.6rem;
  color: rgb(121, 185, 0);
  background: #1e282b;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s;
}
.social-icon i:hover {
  background: rgb(121, 185, 0);
  color: #fff;
}
.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(121, 185, 0);
  text-transform: uppercase;
}
.hero-heading {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 1.2;
  color: #fff;
  text-transform: capitalize;
}
.hero-heading span {
  color: rgb(121, 185, 0);
}
.hero-desc {
  font-size: 1.4rem;
  color: #fff;
  width: 45%;
  margin: 2rem 0;
}
.hero-btn {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero-btn .btn-primary i {
  margin-left: 0.5rem;
}
.hero-video-btn {
  background: rgb(121, 185, 0);
  border-radius: 50%;
  padding: 0.5rem;
  transition: all 0.5s;
}
.hero-video-btn:hover {
  background: rgb(0, 128, 0);
}
.hero-video-btn i {
  font-size: 3rem;
  color: #fff;
}
.hero-btn a {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.5s;
}
.hero-btn a:hover {
  color: rgb(121, 185, 0);
}
