@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  background: transparent;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.9;
  overflow-x: hidden;
}
a,
button,
img {
  display: inline-block;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.btn-primary {
  font-size: 1.6rem;
  background: rgb(121, 185, 0);
  padding: 1rem 2rem;
  border-radius: 3rem;
  box-shadow: inset 5px 5px 10px rgb(142, 224, 142);
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-primary:hover {
  box-shadow: inset 5px 5px 10px rgb(121, 185, 0);
  background-color: rgb(0, 128, 0);
}
/* Header CSS */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
}
.logo {
  font-size: 2.4rem;
  font-family: "Kaushan Script", serif;
  color: #fff;
}
.logo span {
  color: rgb(121, 185, 0);
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.link {
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.5s;
}
.link:hover {
  color: rgb(121, 185, 0);
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav-btn i {
  color: #7fba09;
  font-size: 2rem;
}
/* Hero Section CSS */
.hero-section {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
